<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.weixin.data.RecommendMapper">

    <insert id="addRecommend">
        insert weixin.recommend(contestId, pic)
        VALUES (#{id},#{pic})
    </insert>
    <delete id="deleteRecommendByPic">
        delete from weixin.recommend
        where pic=#{pic};
    </delete>
    <select id="getRecommend" resultType="java.lang.String">
        select weixin.recommend.pic  from weixin.recommend
    </select>
</mapper>